<p [style.background-color]="'#20b4e3'" [style.border]="'2px solid blue'" [style.padding]="'20px'"
> Username :- {{username}}</p>


<p [style.background-color]="colorA" [style.border]="borderA" [style.padding]="paddingA"
> Age :- {{age}}  &  Is Active :- {{isActive}} </p>


<p [style.background-color]="isActive ? colorB : colorA" 
[style.border]="isActive ? borderB : borderA"  [style.padding]="isActive ? paddingB : paddingA" >
    Account  :-  Id : {{account.id}}  ,   
    Name : {{account.name}} ,  
    Balance : {{account.balance}} ,  
    Email : {{account.email}}
</p>

<button class="btn btn-primary" (click)="isActive=!isActive"> Change Status</button>