
<h2>Data Binding - Interpolation</h2>
<div class="alert alert-primary" role="alert">
  Username  :- {{dataService.username}}
</div>
<div class="alert alert-secondary" role="alert">
  Age :- {{dataService.age}}    -  Is active : - {{dataService.isActive}}
</div>
<div class="alert alert-success" role="alert">
  Account  :-  Id : {{dataService.account.id}}  ,   Name : {{dataService.account.name}} ,  Balance : {{dataService.account.balance}} ,  Email : {{dataService.account.email}}
</div>
<div class="alert alert-danger" role="alert">
   {{dataService.companies}}
</div>
<div class="alert alert-warning" role="alert">
  <ul *ngFor="let name of dataService.companies">
      <li> {{name}}</li>
  </ul>
</div>

<img src="{{dataService.imagePath1}}" alt="Banner">

<h2>Data Binding - Property Binding</h2>

<div class="alert alert-primary" role="alert">
    Username :- <span  [innerText]="dataService.username"></span>
</div>

<div class="alert alert-secondary" role="alert">
    Age :- <span  [innerText]="dataService.age"></span>    -  Is active : - <span  [innerText]="dataService.isActive"></span>
  </div>
  <div class="alert alert-success" role="alert">
    Account  :-  Id : <span  [innerText]="dataService.account.id"></span> ,   
    Name :  <span  [innerText]="dataService.account.name"></span> ,   
    Balance :  <span  [innerText]="dataService.account.balance"></span> ,   
    Email :  <span  [innerText]="dataService.account.email"></span> ,   
  </div>

  <div class="alert alert-danger" role="alert">
    <span  [innerText]="dataService.companies"></span>
 </div>
 <div class="alert alert-warning" role="alert">
   <ul *ngFor="let name of dataService.companies">
       <li> <span  [innerText]="name"></span> </li>
   </ul>
 </div>

 <input type="text" name="username"  [value]="dataService.username" >
 <img [src]="dataService.imagePath2" alt="" srcset="">
 